.header {
    width: 100%;
    text-align: center;
    height: 60px;
    vertical-align: center;
}

.main {
    /*display: flex;*/
    /*flex-direction: column;*/
    background-color: rgb(56, 56, 238);
    /*margin: 0 auto;*/
    /*text-align: center;*/
}

.main-body {
    margin: 0 auto;
    width: 80%;
    color:white;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchBox {
    /*margin-top: 10px;*/
    width: 300px;
}

.simple-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
}

.simple-box strong {
    font-size: 26px;
    margin-right: 10px;
}

#wDate {
    /*float: right;*/
    line-height: 40px;
}

.detail-box {
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-around;*/
}

.detail-header strong {
    font-size: 60px;
}

.detail-body {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#wind {
    margin-left: 10px;
}

div strong {
    background-color:black;
  }

/* @media only screen and (max-width: 500px) {
    .main {
        display: flex;
        width:100%;
        flex-direction: column;
        background-color: rgb(56, 56, 238);
        margin: 0 auto;
        text-align: center;
    }
    
} */
input::placeholder {
    color:black;
    font-size: 1.2em;
    font-style: italic;
  }

  #temp:hover{
      background-color: blue;
  }

  .simple-box div:last-child{
    font-size: 150%;
    font-weight: bold;
  }

  #showCity:hover{
    background-color: blue;

  }
  button{
      font-size: 24px;
  }

  button:hover{
      background-color: cyan;
  }

  button:active{
      background-color: rgb(6, 129, 129);
      
  }

  span::selection{
      background-color: black;
  }